@import '_fonts.scss';
@import '_variables.scss';
@import '_keyframes.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: var(--primary);
}

button {
    outline: none;
}